{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Case File Detail</title>
</head>
<body>

    <h1>Case File Details</h1>

    <p><strong>Tenant:</strong> {{ case.tenant }}</p>
    <p><strong>Postal Address:</strong> {{ case.postal_address }}</p>
    <p><strong>Telephone Number:</strong> {{ case.telephone_number }}</p>
    <p><strong>Landlord Name:</strong> {{ case.landlord_name }}</p>
    <p><strong>Agent:</strong> {{ case.agent }}</p>
    <p><strong>Caretaker:</strong> {{ case.caretaker }}</p>
    <p><strong>Auctioneer:</strong> {{ case.auctioneer }}</p>
    <p><strong>Duration of Stay:</strong> {{ case.duration_of_stay }}</p>
    <p><strong>Monthly Rent:</strong> {{ case.monthly_rent }}</p>
    <p><strong>Year of Entry:</strong> {{ case.year_of_entry }}</p>
    <p><strong>Deposit Paid:</strong> {{ case.deposit_paid }}</p>
    <p><strong>Cause of Action:</strong> {{ case.cause_of_action }}</p>
    <p><strong>Problem:</strong> {{ case.problem }}</p>
    <p><strong>O.C.S. Police Station:</strong> {{ case.ocs_police_station }}</p>
    <p><strong>Status:</strong> {{ case.status }}</p>
    <p><strong>Created At:</strong> {{ case.created_at }}</p>
    <a href="{% url 'export_case_to_word' case.id %}" class="btn btn-primary">Export as Word</a>

    {% if user.profile.is_admin %}
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
     {% else %}
        <a href="{% url 'homeland' %}">Back to Home</a>
     {% endif %}
    

</body>
</html>
