
{% block content %}
<style>
    .update-button {
  background-color: #007bff; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif; /* Adjust font family as desired */
}

h1 {
  font-size: 20px;
  font-family: sans-serif; /* Adjust font family as desired */
  margin-bottom: 15px;
}

textarea {
  font-size: 16px;
  font-family: sans-serif; /* Adjust font family as desired */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%; /* Full width for all devices initially */
  min-height: 300px;
  height: 80vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  textarea {
    min-height: 200px; /* Adjust minimum height for smaller screens */
  }
}

@media (max-width: 992px) {
  textarea {
    min-height: 250px; /* Adjust minimum height for medium screens */
  }
}

</style>
<h1>Edit PassTicket for {{ user.profile.first_name  }}</h1>
<form method="post" action="{% url 'edit_pass_ticket' ticket.id %}">
    {% csrf_token %}
    <textarea name="content" id="content" placeholder="Enter updated PassTicket content" required>{{ ticket.content }}</textarea><br>
    <button type="submit" class="update-button">Update PassTicket</button>
</form>

<!-- Include CKEditor library 
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>

{% endblock %}
